- name: setup docker
  become: yes
  tags: docker
  shell: |
    tee /etc/docker/daemon.json <<-'EOF'
    {
        "data-root":"/data/docker",
        "log-opts":{
            "max-size":"100m",
            "max-file":"1"
        },
        "registry-mirrors":[
            "https://hub-mirror.c.163.com",
            "https://mirror.baidubce.com",
            "https://docker.mirrors.ustc.edu.cn",
            "https://registry.docker-cn.com"
        ]
    }
    EOF

    systemctl daemon-reload && systemctl restart docker

- name: check state
  become: yes
  tags: docker
  shell: |
    docker info

